@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Maven+Pro:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    font-size: 62.5%;

    /*Font Family*/
    --font-family-asap: "Asap", sans-serif;
    --font-family-inconsolata: "Inconsolata", sans-serif;
    --font-family-maven: "Maven Pro", sans-serif;

    /*Typography*/
    --title-lg-asap: bold 5.6rem/120% var(--font-family-asap);
    --title-md-asap: bold 2.4rem/120% var(--font-family-asap);
    --title-sm-asap: bold 1.6rem/120% var(--font-family-asap);

    --subtitle-inconsolata: 400 2rem/120%;
    
    --text-md-maven: 400 1.6rem/140% var(--font-family-asap);
    --text-sm-maven: 400 1.4rem/140% var(--font-family-asap);
}