header {
    background: url("/assets/images/Background_Intro.png") no-repeat 100%/cover;
    height: 750px;
    place-content: center;
    text-align: center;

    div:nth-child(1) {
        justify-self: center;
    }

    div:nth-child(2) {
        margin-block: 5.6rem 8rem;

        p span {
            color: var(--red);
        }

        h1 {
            margin-block: .8rem 2rem;
        }

        p:last-child {
            color: var(--gray-400);
        }
    }


    #tecnologities {
        gap: 1.6rem;
        margin-bottom: 10rem;

        span {
            background-color: var(--gray-300);
            align-items: center;
            gap: .8rem;

            padding: 1rem 1.8rem;
            border-radius: 25rem;
        }
    }

    a {
        i {
            color: var(--gray-400);
            font-size: 2.4rem;
            transition: all 1s;
        }

        i:hover {
            color: var(--blue);
            font-size: 2.8rem;
        }
    }
}