#my-projects {
    margin: 7.2rem auto 14rem;

    div {
        grid-template-columns: repeat(3, 33rem);

        figure {
            background-color: var(--gray-300);
            border-radius: 1.2rem;
            padding: 1.2rem;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: .8rem;
            }

            figcaption h3 {
                margin-block: 2.4rem .8rem;
            }
        }
    }
}

#my-services {
    padding: 9rem 2rem;
    background-color: var(--gray-100);

    &>div {
        justify-content: center;
    }

    .card {
        & {
            background-color: transparent;
            padding: 2rem;
            border: solid 2px var(--gray-200);
            border-radius: 1.2rem;
        }

        i {
            font-size: 3.2rem;
        }

        h3 {
            margin-block: 2rem .8rem;
        }
    }
}

#footer {
    background: url("/assets/images/Background_Contacts.png") no-repeat 100%/cover;
    height: 790px;
    place-content: center;

    header {
       p:first-child {
            color: var(--purple);
       }
    }

    nav {
        max-width: 400px;
        margin-inline: auto;

        ul li {
            a {
                background-color: var(--gray-300);
                padding: 2.4rem;
                border-radius: .8rem;
                justify-content: space-between;
                align-items: center;

                &>i {
                    color: var(--blue);
                    font-size: 2rem;
                }

                div {
                    gap: 1.4rem;
                    align-items: center;

                    i {
                        font-size: 2.2rem;
                    }
                }
            }

            a:hover {
                box-shadow: 0 0 0 1px var(--blue);
                    
                div i {
                    color: var(--blue);
                }
            }
        }
    }
}