#my-projects {
    margin: 7.2rem auto 14rem;

    div {
        grid-template-columns: repeat(3, 33rem);
        gap: 2.4rem;


        figure {
            background-color: var(--gray-300);
            border-radius: 1.2rem;
            padding: 1.2rem;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: .8rem;
            }

            figcaption h3 {
                margin-block: 2.4rem .8rem;
            }
        }
    }
}

#my-services {
    padding: 9rem 2rem;
    background-color: var(--gray-100);

    &>div {
        justify-content: center;
        gap: 2.4rem;
    }

    .card {
        & {
            background-color: transparent;
            padding: 2rem;
            border: solid 2px var(--gray-200);
            border-radius: 1.2rem;
        }

        i {
            font-size: 3.2rem;
        }

        h3 {
            margin-block: 2rem .8rem;
        }
    }
}